!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %meta{:content => user_signed_in? ? current_user.id : "", :name => "user-id"}/
    %title Chat App
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
  %body
    = render 'layouts/nav'
    .container
      - if alert
        .alert.alert-danger{:role => "alert"}= alert
      - if notice
        .alert.alert-success{:role => "alert"}= notice
      = yield
    %audio#chatAudio
      %source{:src => "/sounds/notification.mp3", :type => "audio/mpeg"}/